<p-confirmDialog></p-confirmDialog>
<p-dialog [(visible)]="displayWait"  [modal]="true" [showHeader]="false">
    <p-progressSpinner [style]="{width: '50px', height: '50px', 'margin': '30px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
</p-dialog>
<p-dialog header="Listado de Presupuestos" [(visible)]="display0" [modal]="true" [responsive]="true" [width]="800" >
    <p-table #dp [columns]="cols"  [value]="listaPresupuestos"  [paginator]="true" [rows]="10"  selectionMode="single" [(selection)]="presupuestoSeleccionado" dataKey="id">
        <ng-template pTemplate="caption">
            <div class="ui-helper-clearfix">
                Lista de Presupuestos
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of cols" [ngStyle]="{'width': col.style}">
                    {{col.header}}
                </th>
            </tr>
            <tr>
                <th *ngFor="let col of columns" [ngSwitch]="col.field">
                    <input *ngSwitchCase="'id'" pInputText type="text" (input)="dp.filter($event.target.value, col.field, 'contains')" style="width: 90%" [value]="dt.filters[col.field] ? dt.filters[col.field].value : ''">
                    <input *ngSwitchCase="'cliente'" pInputText type="text" (input)="dp.filter($event.target.value, col.field, 'contains')" style="width: 90%" [value]="dt.filters[col.field] ? dt.filters[col.field].value : ''">
                    <input *ngSwitchCase="'obra'" pInputText type="text" (input)="dp.filter($event.target.value, col.field, 'contains')" style="width: 90%" [value]="dt.filters[col.field] ? dt.filters[col.field].value : ''">
                    <input *ngSwitchCase="'version'" pInputText type="text" (input)="dp.filter($event.target.value, col.field, 'contains')" style="width: 90%" [value]="dt.filters[col.field] ? dt.filters[col.field].value : ''">
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-listaPresupuestos let-columns="columns">
            <tr  [pSelectableRow]="listaPresupuestos">
                <td *ngFor="let col of cols">
                {{listaPresupuestos[col.field]}}
                </td>        
            </tr>
        </ng-template>
    </p-table>
    <button type="button" (click)="getPresupuesto(presupuestoSeleccionado.id)" pButton icon="pi pi-info-circle" label="Confirmar"></button>
</p-dialog>
<p-dialog header="Modificación de Producto" [(visible)]="dModifica" [modal]="true" [responsive]="true" [width]="800">
    <p>{{ nodeDescripcion }}</p>
    <div style="display:inline-block" >
        <div style="float: left;width: 100px">
            <p><label for="cantidad">Cantidad: </label></p>
            <p style="margin-top: 23px;"><label for="precio">Precio: </label></p>
        </div>
        <div style="float: left;width: 200px">
            <p><input type="text" pInputText size="50" style="width: 165px; text-align: right" step="0.01" [ngModel]="nodeCantidad" [value]="nodeCantidad" (input)="nodeCantidad = $event.target.value"></p>
            <div class="ui-inputgroup"> 
                <span class="ui-inputgroup-addon">$</span>  
                <input type="text" pInputText size="50" style="width: 144px; text-align: right" step="0.01" [ngModel]="nodePrecio" [value]="nodePrecio" (input)="nodePrecio = $event.target.value"> 
            </div>
        </div> 
    </div>
    <p-footer>
        <button type="button" pButton icon="pi pi-check" (click)="confirmEdit()" label="Aceptar"></button>
        <button type="button" pButton icon="pi pi-close" (click)="dModifica=false" label="Cancelar" class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>
<p-dialog header="Listado de Productos" [(visible)]="display1" [modal]="true" [responsive]="true" [width]="800">
    <p-table #dt [columns]="cols" [value]="productos" [paginator]="true" [rows]="10"  selectionMode="single" [(selection)]="productoSeleccionado" dataKey="codigoparticular">
        <ng-template pTemplate="caption">
            <div style="text-align: center">        
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="Filtro Global" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto" [value]="dt.filterGlobal ? dt.filterGlobal.value : ''">
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
            </tr>
            <tr>
                <th *ngFor="let col of columns" [ngSwitch]="col.field">
                    <input *ngSwitchCase="'codigoparticular'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')" [value]="dt.filters[col.field] ? dt.filters[col.field].value : ''">
                    <input *ngSwitchCase="'descripcion'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')" [value]="dt.filters[col.field] ? dt.filters[col.field].value : ''">
                    <input *ngSwitchCase="'rubro'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')" [value]="dt.filters[col.field] ? dt.filters[col.field].value : ''">
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
                <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
                </td>
            </tr>
        </ng-template>
    </p-table>
    <br>
    <label for="aplicacion">Aplicación: </label>
    <select [(ngModel)]="aplicacionSeleccionado">
        <option *ngFor="let a of aplicaciones" [ngValue]="a">{{a.descripcion}}</option>
    </select>
    <br>
    <br>
    <label for="cantidad">Cantidad: </label>
    <input type="text" pInputText size="50" style="width: 165px;" step="0.01" [ngModel]="cantidad" (ngModelChange)="cantidad = $event" >
    <br>
    <br>
    <button type="button" (click)="seleccionarProducto()" pButton icon="pi pi-info-circle" label="Confirmar"></button>
</p-dialog>
<p-dialog header="Listado de Conjuntos" [(visible)]="display2" [modal]="true" [responsive]="true" [width]="800">
    <p-table #ds [columns]="cols" [value]="conjuntos" [paginator]="true" [rows]="10"  selectionMode="single" [(selection)]="conjuntoSeleccionado" dataKey="idConjunto">
        <ng-template pTemplate="caption">
            <div style="text-align: center">        
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="Filtro global" (input)="ds.filterGlobal($event.target.value, 'contains')" style="width:auto" [value]="dt.filterGlobal ? dt.filterGlobal.value : ''">
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
            </tr>
            <tr>
                <th *ngFor="let col of columns" [ngSwitch]="col.field">
                    <input *ngSwitchCase="'idConjunto'" pInputText type="text" (input)="ds.filter($event.target.value, col.field, 'contains')" [value]="dt.filters[col.field] ? dt.filters[col.field].value : ''">
                    <input *ngSwitchCase="'descripcion'" pInputText type="text" (input)="ds.filter($event.target.value, col.field, 'contains')" [value]="dt.filters[col.field] ? dt.filters[col.field].value : ''">
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
                <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
                </td>
            </tr>
        </ng-template>
    </p-table>
    <br>
    <label for="aplicacion">Aplicación: </label>
    <select [(ngModel)]="aplicacionSeleccionado">
        <option *ngFor="let a of aplicaciones" [ngValue]="a">{{a.descripcion}}</option>
    </select>
    <br>
    <br>
    <label for="cantidad">Cantidad: </label>
    <input type="text" pInputText size="50" style="width: 165px;"  [ngModel]="cantidad" (ngModelChange)="cantidad = $event" >
    <br>
    <br>
    <button type="button" (click)="seleccionarConjunto()" pButton icon="pi pi-info-circle" label="Confirmar"></button>
</p-dialog>
<div class="menu">
    <div style="float:left;width: 100%">
        <div class="menu-items">
            <p-autoComplete [(ngModel)]="cliente" [suggestions]="filteredClientes" (completeMethod)="filterClientes($event)" (onSelect)="selectedCliente($event)" [size]="30"
            [minLength]="1" placeholder="Cliente" [dropdown]="true">
                <ng-template let-cliente pTemplate="item">
                    <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                        {{cliente.nombre}}
                    </div>
                </ng-template>
            </p-autoComplete>
        </div>
        <div class="menu-items">
            <p-autoComplete [(ngModel)]="obra" [suggestions]="filteredObras" (completeMethod)="filterObras($event)" (onSelect)="selectedObra($event)" [size]="30"
            [minLength]="1" placeholder="Proyecto" [dropdown]="true" [disabled]="showObra">
                <ng-template let-obra pTemplate="item">
                    <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                        {{obra.nombre}}
                    </div>
                </ng-template>
            </p-autoComplete>
        </div> 
        <div class="menu-items">
            <p-autoComplete [(ngModel)]="version" [suggestions]="filteredVersiones" (completeMethod)="filterVersiones($event)" (onSelect)="selectedVersion($event)" field="version" [size]="30"
            placeholder="Versión" [minLength]="1" [disabled]="showVersion" >
            </p-autoComplete>
        </div>
        <!--<div class="menu-items">
            <input type="text" [(ngModel)]="version" field="version" placeholder="Versión" [minLength]="1" pInputText >
        </div>-->
        <div class="menu-items">
            <button type="button" pButton icon="pi pi-save" label="Grabar" (click)="antesGrabar()"></button>
        </div>
    </div>
    <div style="float:left;width: 80%">
        <div class="menu-items">
            <button type="button" (click)="showPresupuestoDialog()" pButton icon="pi pi-info-circle" label="Agregar Presupuesto"></button>
        </div>
        <div class="menu-items">
            <button type="button" (click)="showConjuntoDialog()" pButton icon="pi pi-info-circle" label="Agregar Conjunto"></button>
        </div>
        <div class="menu-items">
            <button type="button" (click)="showProductoDialog()" pButton icon="pi pi-info-circle" label="Agregar Producto"></button>
        </div>
    </div>
    <div style="float:right">
        <div class="menu-items">
            <button type="button" (click)="comenzarLista()" pButton icon="pi pi-info-circle" label="Vista Ordenada"></button>
        </div>
    </div>
</div>
<p-dialog [(visible)]="lista_ord" [modal]="true" [responsive]="true"  >
    <p-table [columns]="cols" [value]="listaOrdenada" [paginator]="false" [rows]="25">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                    {{col.header}}
                    <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-dialog>
<div class="grilla">
    <!--<p-messages [(value)]="msgs"></p-messages>-->
    <p-toast [style]="{marginTop: '80px'}"></p-toast>
    <p-treeTable [value]="detalle" selectionMode="single" [(selection)]="selectednode1" (onNodeSelect)="nodeSelect($event)"  dataKey="descripcion">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 5%">TipoPR</th>
                <th style="width: 25%">
                    <button type="button" (click)="collapseAll()" pButton iconPos="left" icon="pi pi-align-justify" style="float:left; height: 1.3em;padding-top: 0"></button>Descripción</th>
                <th style="width: 15%">Rubro</th>
                <th style="width: 7%">Aplicacion</th>
                <th style="width: 5%">Cantidad</th>
                <th style="width: 2%">$</th>
                <th style="width: 5%">P. U.</th>
                <th style="width: 5%">Fecha P.U.</th>
                <th style="width: 5%">Total</th>
                <th style="width: 2%">M1</th>
                <th style="width: 2%">M2</th>
                <th style="width: 2%">M3</th>
                <th style="width: 2%">M4</th>
                <th style="width: 2%">M5</th>
                <th style="width: 5%">Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body"  let-rowNode let-rowData="rowData" >
            <tr  [ttSelectableRow]="rowNode" [ngStyle]="{'height':'2em', 'background-color': rowData.codigoparticular ? (rowData.precio==0 ? 'rgba(204, 54, 54, 0.81)':'')  : 'rgba(48, 191, 191, 0.81)'}"> 
                <td>{{ rowData.codigoparticular ? rowData.tipoPrecio : '' }}</td>
                <td> 
                    <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                    {{rowData.descripcion }}
                </td>
                <td>{{ rowData.codigoparticular ? rowData.codigoparticular.rubro : rowData.rubro }}</td>
                <td>{{rowData.aplicacion}}</td>
                <td style="text-align: right">{{ rowData.cantidad }}</td>
                <td style="text-align:center">$</td>
                <td style="text-align: right">{{rowData.precio|currency:'$':'symbol'}}</td>
                <td>{{ rowData.codigoparticular ? rowData.fechaPrecio : '' }}</td> 
                <td style="text-align: right">{{ rowData.total|currency:'$':'symbol'}}</td>
                <td><input name="m1" type="checkbox" [checked]="rowData.m1" [indeterminate]="rowData.m1state" (change)="checked(detalle,rowNode,'m1')" [disabled]="selectednode1!=null && rowData==selectednode1.data? false:true" /></td>
                <td><input name="m2" type="checkbox" [checked]="rowData.m2" [indeterminate]="rowData.m2state" (change)="checked(detalle,rowNode,'m2')" [disabled]="selectednode1!=null && rowData==selectednode1.data? false:true"/></td>
                <td><input name="m3" type="checkbox" [checked]="rowData.m3" [indeterminate]="rowData.m3state" (change)="checked(detalle,rowNode,'m3')" [disabled]="selectednode1!=null && rowData==selectednode1.data? false:true"/></td>
                <td><input name="m4" type="checkbox" [checked]="rowData.m4" [indeterminate]="rowData.m4state" (change)="checked(detalle,rowNode,'m4')" [disabled]="selectednode1!=null && rowData==selectednode1.data? false:true"/></td>
                <td><input name="m5" type="checkbox" [checked]="rowData.m5" [indeterminate]="rowData.m5state" (change)="checked(detalle,rowNode,'m5')" [disabled]="selectednode1!=null && rowData==selectednode1.data? false:true"/></td>
                <td style="text-align:center; margin: 0" >
                    <div *ngIf="selectednode1!=null && rowData==selectednode1.data">
                        <button *ngIf="rowData.codigoparticular" type="button" (click)="modifica(rowNode)" pButton icon="pi pi-pencil" iconPos="left" style="float:left; height: 1em;" ></button>
                        <button type="button" (click)="confirm2(detalle, rowNode)" pButton icon="pi pi-trash" iconPos="left" style="float:left; height: 1em;" class="ui-button-danger"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="footer">
            <tr>
                <td></td>
                <td style="text-align:center">Descripcion: <input type="text" [(ngModel)]="presupuesto.m1Desc"></td>
                <td colspan="6" style="text-align:center">Porcentaje: <input type="number" style="text-align:right" [(ngModel)]="presupuesto.m1" (input)="calcularTotalesIni($event.target.value)"></td>
                <td style="text-align:right">{{ total1|currency:'$':'symbol' }}</td>
                <td colspan="6"></td>
            </tr>
            <tr>
                <td></td>
                <td style="text-align:center">Descripcion: <input type="text" [(ngModel)]="presupuesto.m2Desc"></td>
                <td colspan="6" style="text-align:center">Porcentaje: <input type="number" style="text-align:right" [(ngModel)]="presupuesto.m2" (input)="calcularTotalesIni($event.target.value)"></td>
                <td style="text-align:right">{{ total2|currency:'$':'symbol' }}</td>
                <td colspan="6"></td>
            </tr>
            <tr>
                <td></td>
                <td style="text-align:center">Descripcion: <input type="text" [(ngModel)]="presupuesto.m3Desc"></td>
                <td colspan="6" style="text-align:center">Porcentaje: <input type="number" style="text-align:right" [(ngModel)]="presupuesto.m3" (input)="calcularTotalesIni($event.target.value)"></td>
                <td style="text-align:right">{{ total3|currency:'$':'symbol' }}</td>
                <td colspan="6"></td>
            </tr>
            <tr>
                <td></td>
                <td style="text-align:center">Descripcion: <input type="text" [(ngModel)]="presupuesto.m4Desc"></td>
                <td colspan="6" style="text-align:center">Porcentaje: <input type="number" style="text-align:right" [(ngModel)]="presupuesto.m4" (input)="calcularTotalesIni($event.target.value)"></td>
                <td style="text-align:right"td>{{ total4|currency:'$':'symbol' }}</td>
                <td colspan="6"></td>
            </tr>
            <tr>
                <td></td>
                <td style="text-align:center">Descripcion: <input type="text" [(ngModel)]="presupuesto.m5Desc"></td>
                <td colspan="6" style="text-align:center">Porcentaje: <input type="number" style="text-align:right" [(ngModel)]="presupuesto.m5" (input)="calcularTotalesIni($event.target.value)"></td>
                <td style="text-align:right">{{ total5|currency:'$':'symbol' }}</td>
                <td colspan="6"></td>
            </tr>
            <tr>
                <td></td>
                <td colspan="7" style="text-align:center"><b>Total General</b></td>
                <td style="text-align:right"><b>{{ total|currency:'$':'symbol' }}</b></td>
                <td colspan="6"></td>
            </tr>
        </ng-template>
    </p-treeTable>
</div>